* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #ff0000;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: auto;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .nav-icon-shoppingCart {
    font-size: 1.5rem;
    color: var(--primaryColor);
    position: fixed;
    right: 5.5rem;
  }
  .nav-icon-login {
    font-size: 1.5rem;
    color: var(--primaryColor);
    position: fixed;
    right: 2rem;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.programHero,
.gastroHero,
.infoHero,
.coronaHero,
.cartHero,
.loginHero,
.adminHero,
.paymentHero,
.bookingHero{
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programHero {
  background-image: url("./images/booking-banner.jpg");
  min-height: 30vh;
}
.gastroHero {
  background-image: url("./images/gastro-banner.JPG");
  min-height: 30vh;
}
.infoHero {
  background-image: url("./images/info-banner.jpg");
  min-height: 30vh;
}
.coronaHero {
  background-image: url("./images/corona-banner.JPG");
  min-height: 30vh;
}
.cartHero {
  background-image: url("./images/cart-banner.jpg");
  min-height: 30vh;
}
.loginHero {
  background-image: url("./images/login-banner.jpg");
  min-height: 30vh;
}
.adminHero {
  background-image: url("./images/admin-banner.jpeg");
  min-height: 30vh;
}
.paymentHero {
  background-image: url("./images/payment-banner.jpg");
  min-height: 30vh;
}
.bookingHero {
  background-image: url("./images/sendBooking-banner.jpg");
  min-height: 30vh;
}


@media screen and (min-width: 776px){
  .programHero {
    min-height: 40vh;
  }
  .gastroHero {
    min-height: 40vh;
  }
  .infoHero {
    min-height: 40vh;
  }
  .coronaHero {
    min-height: 40vh;
  }
  .cartHero {
    min-height: 40vh;
  }
  .loginHero {
    min-height: 40vh;
  }
  .adminHero {
    min-height: 40vh;
  }
  .paymentHero {
    min-height: 40vh;
  }
  .bookingHero {
    min-height: 40vh;
  }
}

/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2rem;
  line-height: 115%;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */
/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured movies */

.featured-movies {
  padding:5rem 0;
}
.featured-movies-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-movies-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-movies-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured movies */
/* movie */
.movie {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  background: var(--darkGrey);
}
.movie:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  min-height: 400px;
  display: block;
  transition: var(--mainTransition);
}

.duration-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.duration-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.movie-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .duration-top {
  opacity: 0;
}
.img-container:hover .movie-link {
  transform: translate(-50%, -50%) scale(1);
}
.movie-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of movie  */
/* single movie*/
.single-movie {
  padding: 5rem 0 0 0;
}
.single-movie-cover-image {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 776px) {
  .single-movie-cover-image {
    width: 20vw;
  }
}

.single-movie-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-movie-images img {
  width: 100%;
  display: block;
}
.single-movie-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.single-movie-trailer{
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  display: grid;
}

@media screen and (min-width: 776px) {
  .single-movie-trailer{
    width: 50vw;
    height: 25vw;
    margin: 0 auto;
    display: grid;
  }
}

.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.movie-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.movie-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-movie-images,
  .single-movie-info,
  .movie-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-movie-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single movie*/
/* movielist */
.movielist {
  padding: 5rem 0;
}
.movielist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .movielist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .movielist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of movielist */
/*  movies fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  color:#555;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of movies fitler*/
/* Shopping Cart*/
.cart-entry-container{
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 1000px){
  .cart-entry-container{
    width: 60vw;
    grid-template-columns: repeat(auto-fill, minmax(60vw, 1fr));
  }
}

.li-container{
  width: 100%;
  justify-content: center;
  display: inline-block;
  background-image: url(./images/ticket-bg.jpg);
  border-radius: 5px;
  color: var(--mainWhite);
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom : 1rem;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
}

  .cart-entry-img{
    width: 0%;
    float: top;
  }


@media screen and (min-width: 1000px){
  .cart-entry-img{
    width: 20%;
    float: left;
    padding: 1rem;
    border-radius: 5px;
  }
}

.cart-entry-details{
  width: 100%;
  float: left;
  padding: 1rem;
}

@media screen and (min-width: 1000px){
  .cart-entry-details{
    width: 60%;
  }
}

@media screen and (min-width: 1000px){
  .cart-entry-buttons{
    width: 20%;
    float: right;
    padding: 1rem;
    margin: auto;
    margin-top: 5rem
  }
  .cart-entry-buttons-menu{
    width: 20%;
    float: right;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem
  }
}

.title{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: var(--primaryColor);
}

.recipe{
text-align: center;
}
/* End of Shopping Cart */
/* Add to ShoppingCart */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);

}
.popup_inner {
  color: var(--mainBlack);
  position: absolute;
  left: 9%;
  right: 9%;
  top: 31%;
  bottom: 31%;
  margin: auto;
  padding: 2%;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
}

@media screen and (min-width: 776px){
  .popup_inner {
    color: var(--mainBlack);
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    margin: auto;
    padding: 2%;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  }
}

.addToCart-Container{
  display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  text-align: center;
	width: 90%;
	justify-content: space-evenly;
	margin: 3% auto;
	background-color: #f3f3f3;
	border-radius: 10px;
	color: #464159;

	padding: 15px;
	margin-right: auto;
	margin-left: auto
}

@media screen and (min-width: 776px){
  .addToCart-Container{
    width: 80%;
  }
}

/* End of add to shopping Cart */
/* Slideshow */
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 150px;

}

@media screen and (min-width: 600px){
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
  }
}
.slide-show{
  width: 70%;
  padding:5rem 0;
  margin-left: auto;
  margin-right: auto;
}
/*Ende Slideshow */
/*Booking Form */
.booking-wrapper {
  padding:2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 90%;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  background-color: rgba(168, 185, 209, 0.9);
  border-radius: 5px;
  color: var(--mainWhite);
}

@media screen and (min-width: 1025px){
  .booking-wrapper {
    width: 70%;
    background: url(./images/booking-bg.jpg) no-repeat;
    background-size: 120%; 
  }
}

.booking-shoppingcart{
  width: 100%;
  justify-content: center;
  display: inline-block;
  background-color: rgba(66, 153, 211, 0.616);
  border-radius: 5px;
  color: var(--mainWhite);
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom : 1rem;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
}

.booking-shoppingcart h6{
margin-bottom: 0em;
}
@media screen and (min-width: 1025px){
.booking-container-right{
  width: 48%;
  padding: 2%;
  float: right;
  text-align: center
}
}

.booking-container {
  width: 100%;
  padding: 2%;
}
@media screen and (min-width: 1025px){
  .booking-container {
    width: 48%;
    padding: 2%;
    float: left;
  }
}

.booking-container .react-datepicker-wrapper {
  width: 100%;
  min-height: 30px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  margin-bottom: 4%;
  border-radius: 4px;
}

.booking-container .react-datepicker-wrapper input {
  width: 100%;
  min-height: 30px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  border-radius: 4px;
}

.booking_input {
  width: 100%;
  min-height: 30px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  margin-bottom: 4%;
  border-radius: 4px;
}

.booking_title{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: var(--primaryColor);
}

.input-container {
  justify-content: space-between;
  display: inline-block;
  width: 100%;
  margin: 1%;
}

.booking-btn {
  width: 100%;
  margin: 2%;
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 776px){
  .booking-btn {
    width: 45%;
  }
}

.booking-btn_100 {
  width: 100%;
  margin: 2%;
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.booking-btn-unselected {
  width: 100%;
  margin: 2%;
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--mainGrey);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--mainGrey);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (min-width: 776px){
  .booking-btn-unselected {
    width: 45%;
  }
}

.headline {
  text-align: center;
  margin-bottom: 4%;
  font-weight: bold;
  font-size: 24px;
  line-height: auto;
  letter-spacing: 1px;
}

@media screen and (min-width: 776px){
  .headline {
    text-align: center;
    margin-bottom: 4%;
    font-weight: bold;
    font-size: 24px;
    line-height: 10px;
    letter-spacing: 1px;
  }
}

.booking-cart-entry-container{
  float: left;
  padding: 0.5rem;
  width: 100%;
}
/* End Booking Form */
/* Seats */

.movie-layout{
  flex-wrap: nowrap;
}
.col-md-2{
  padding: 0px 10px;
  -ms-flex:0 0 16.666667%;
  flex:0 0 16.666667%;
  max-width:16.666667%
}
.col-md-6{
  padding: 0px 25px;
}
.seat{
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 0px 0px;
  margin: 1px;
  cursor: pointer;
}

@media screen and (min-width: 776px){
  .seat{
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 0px 0px;
    margin: 3px;
    cursor: pointer;
  }
}

.seat:hover{
  transform: scale(1.2);
  background-color: crimson;
}

.row{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px;
  justify-content: center;
}

.legende{
  display:flex;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 776px){
  .legende{
    display:flex;
    max-width: 25%;
    margin-right: auto;
    margin-left: auto;
  }
}

.bookedseat{
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 0px 0px;
  margin: 1px;
  cursor: pointer;
}
@media screen and (min-width: 776px){
  .bookedseat{
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 0px 0px;
    margin: 3px;
    cursor: pointer;
  }
}

.bookedseat:hover{
  pointer-events: none;
}

.seat-grey{
  background-color: #ddd;
}
.seat-black{
  background-color: black;
}
.seat-red{
  background-color: var(--primaryColor);
}
.seat-undefined{
  cursor: auto;
  pointer-events: none;
}
.movie-complex p{
  text-align: center;
  font-size: 15px;
}

@media screen and (min-width: 776px){
  .movie-complex p{
    text-align: center;
    font-size: 30px;
  }
}

.movie-selector{
  width: 250px;
}

.leinwand{
  background-color: black;
  margin-left: 15%;
  color: white;
  width: 70%;
  margin-bottom: 40px;
  margin-top: 30px;
}

.gang{
  background-color: #f3f3f3;
  color: #f3f3f3;
  font-size: xx-small;
}

.abstand{
  margin-bottom: 15px;
  color: #f3f3f3;
}

.schrift{
  font-size: large;
  font-weight: bold;
}

.col-2 {
  position:relative;
  width:100%;
  padding-right:5px;
  padding-left:5px;

  -ms-flex:0 0 16.666667%;
  flex:0 0 16.666667%;
  max-width:16.666667%
}

@media screen and (min-width: 776px){
  .col-2 {
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px;
  
    -ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%
  }
}

.container{
  width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.event-btn {
  margin: 2%;
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.event-btn-unselected {
  margin: 2%;
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--mainGrey);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--mainGrey);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
/* End of Seats*/
/* Login */
.login-Container{
align-items: center;
text-align: center;
	width: 90%;
	margin: 3% auto;
	background-color: #f3f3f3;
	border-radius: 10px;
	color: #464159;

	padding: 15px;
	margin-right: auto;
	margin-left: auto
}

@media screen and (min-width: 776px){
  .login-Container{
	width: 60%;
}
}

.login-Container .react-datepicker-wrapper {
  width: 100%;
  min-height: 30px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  margin-bottom: 4%;
  border-radius: 4px;
}

.login-Container .react-datepicker-wrapper input {
  width: 45%;
  min-height: 30px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  margin-top: 1%;
  border-radius: 4px;
  text-align: center
}

.login_input {
  width: 75%;
  min-height: 30px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  margin-top: 1%;
  margin-bottom: 4%;
  border-radius: 4px;
  text-align: center
}

@media screen and (min-width: 776px){
  .login_input {
    width: 45%;
  }
}

.admin_checkbox {
  width: 45%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  margin-top: 1%;
  margin-bottom: 4%;
  border-radius: 4px;
  text-align: center
}
/* End of Login*/
/*Home*/
.home {
  padding: 2rem;
  background: var(--darkGrey);
  text-align: center;
}

@media screen and (min-width: 776px){
  .home {
    padding: 5rem;
    background: var(--darkGrey);
    text-align: center;
  }
}
/*End of Home*/
/*Contact*/
.contact {
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 776px){
  .contact {
    padding: 5rem;
    text-align: center;
  }
}
/*End of Contact*/
/*Gastro */

.gastro {
  padding: 5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 776px){
  .gastro {
    padding: 5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.gastro-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
  
.gastro-table thead tr {
  background-color: var(--mainBlack);
  color: #ffffff;
  text-align: left;
}


.gastro-table th,
.gastro-table td {
    padding: 12px 20px;
}

.gastro-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.gastro-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.gastro-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--mainBlack);
}

.gastro-menus {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 50px;
}
.gastro-menus-container img{
width: 100%;
}

.gastro-menu-link {
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.gastro-menus-container{
  max-height: 242px;
}

.gastro-menus-container:hover img{
  opacity: 0.9;
}


.gastro-menus-container:hover .gastro-menu-link {
  transform: translate(-50%, -50%) scale(1);
}

/*End of Gastro*/
/* Payment */
.payment {
  padding: 2rem;
  text-align: center;
}

.payment img{
  width: 100%;
}

@media screen and (min-width: 776px){
  .payment {
    padding: 5rem;
    text-align: center;
  }

  .payment img{
    width: 40%;
  }
}

.payments {
  text-align: left;
  padding: 5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 776px){
  .payments {
    text-align: left;
    padding: 5rem;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*End of Payment*/
/* Scroll Button*/
.scrollButton{
  color: var(--primaryColor);
  font-size: 2.5rem;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
cursor: pointer;
}
/* End of Scroll Button */